<div fxLayout="column" fxFlexFill style="height: 100%;">

    <!-- toolbar -->
    <div fxFlex="64px" style="overflow-y: hidden;">
        <mat-toolbar class="toolbar flexible mat-theme-indigo" color="primary" style="width: 100%;">
            <!-- <img src="logo" height="55px" style="margin-right: 7px; opacity: 0.9; border-radius: 7px;" /> -->
            <button mat-mini-fab mat-tooltip=" Start" tooltip-position="below" class="mat-mini mat-primary" aria-label="Start" routerLink="/" style="margin-right: 5px;">
                <mat-icon [ngClass]="{warning: false}" title="Home">home</mat-icon>
            </button>

            <!-- <div><button mat-raised-button (click)="submit()" [disabled]="!correctSelection()">Submit</button></div> -->
            <!-- <button color="primary" mat-raised-button (click)="openDialog()">Dialog</button> -->
            <div>
                <mat-form-field class="width-min: 100px">
                    <input matInput type="search" placeholder="Search for sounds ..." value="" (keydown)="searchSounds($event)">
                </mat-form-field>
            </div>
        </mat-toolbar>
    </div>

    <div fxFlex style="/*background-color: yellow;*/ overflow-y:scroll;">
        <div *ngIf="!isLoggedIn" style="margin: 15px;">
            <p>
                To access this page you need:
            </p>
            <a routerLink="/rima-login">
                <button mat-raised-button color="primary">Login</button>
            </a>

            <p>
                or
            </p>
            <a routerLink="/rima-register">
                <button mat-raised-button color="primary">Register</button>
            </a>

        </div>
        <div *ngIf="isLoggedIn ">
            <div style="margin: 15px;">
                <h2>Play</h2>
                <h3 style="color:blue">Main Page</h3>
                <br/><br/><br/><br/><br/>
                <div class='sound-results' fxLayout="row wrap " fxLayout.xs="column " fxLayoutGap="2% " fxLayoutAlign="center ">
                    <app-sound-result *ngFor="let sound of sounds " class="sound" [sound]="sound"></app-sound-result>
                </div>
                <!-- <div>
                  <h3>Lorem Ipsum</h3>
<p><b><i>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."<br/>
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</i></b></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet dui imperdiet, suscipit augue vitae, lacinia magna. Curabitur tempor placerat sollicitudin. Nunc quis metus non massa cursus fermentum ac eget lorem. Nam magna tortor, feugiat in leo efficitur, iaculis mattis diam. Sed ullamcorper dolor enim, quis imperdiet odio dapibus eget. Maecenas convallis lectus egestas nunc dignissim aliquet. Cras elementum ut odio eu hendrerit. Curabitur sit amet semper purus. Donec nec fermentum risus. Phasellus vehicula est nibh, faucibus mollis libero pulvinar quis. Integer sit amet vulputate nulla. Vestibulum laoreet venenatis vestibulum. Quisque dapibus lobortis ipsum at tincidunt. Donec enim risus, consectetur suscipit mauris non, ornare venenatis risus. Sed a neque tellus. Proin aliquet purus id lacinia volutpat.

Nulla et lectus lacinia, vulputate erat sit amet, feugiat velit. Aenean vitae euismod orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar enim id metus dapibus tincidunt. Quisque porttitor commodo sem. Integer velit tellus, sollicitudin auctor odio nec, convallis elementum risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Praesent molestie sagittis felis, ac lacinia nisi. Fusce et erat ac ante egestas laoreet. Praesent vulputate sit amet orci eu laoreet. Sed fermentum laoreet urna vel tristique. Duis dignissim est quis egestas vestibulum. Nunc vel lacus ipsum. Nam dolor nulla, porta convallis tortor non, maximus sodales sem. Mauris ut magna bibendum, maximus neque eu, egestas ipsum.

Maecenas sodales sit amet nulla id viverra. In hac habitasse platea dictumst. Praesent quis arcu et orci lacinia dictum. Nam dapibus, justo quis suscipit euismod, arcu ligula iaculis lacus, ut vestibulum tellus tellus a massa. Nulla facilisi. Praesent sed erat at arcu ullamcorper dignissim eleifend sed nulla. Nunc blandit orci urna, ut ultrices purus dignissim nec. Quisque sit amet elit odio. Suspendisse eu gravida est. Quisque pellentesque id dolor nec commodo. Nulla in erat mi. Cras volutpat auctor elit aliquam interdum. Suspendisse sodales dapibus pellentesque. Nam posuere facilisis ipsum blandit laoreet.

Etiam sollicitudin lorem vitae arcu dignissim scelerisque. Suspendisse commodo placerat felis sed maximus. Etiam justo lectus, varius quis ligula sed, efficitur imperdiet risus. Etiam tempus metus aliquam ipsum rhoncus, interdum condimentum augue elementum. Vivamus pharetra libero id eros tempor egestas. Proin sagittis vehicula orci, eu iaculis orci aliquam sed. Suspendisse vel nisi vulputate, semper turpis at, convallis arcu. Nulla facilisi. Vestibulum non condimentum est. Maecenas molestie commodo felis, vulputate sodales dui. Nunc id convallis nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at odio porta, imperdiet erat eu, malesuada est. Nunc tempor, risus et varius luctus, eros mi sollicitudin erat, vitae dapibus tortor augue at justo. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Donec ullamcorper, arcu non lobortis sollicitudin, eros risus gravida metus, ac eleifend magna dolor eget ligula. Phasellus ac odio vel diam facilisis ornare sed eget mauris. Ut vitae auctor urna, ut vestibulum ex. Duis nec porttitor mauris. Aliquam pretium efficitur pharetra. Donec blandit condimentum velit, at finibus nisi varius nec. Vivamus euismod massa sit amet augue maximus ultrices. Ut bibendum commodo elit, eu gravida odio porta eget. Donec vitae metus rutrum, ornare diam id, faucibus eros. Nam sit amet eros vel mauris convallis lobortis sed quis neque. Nunc egestas felis diam, nec faucibus magna accumsan et. Duis sagittis neque in sodales tincidunt. Fusce quis ipsum ante.
</p>
<p>
Donec sit amet dui imperdiet, suscipit augue vitae, lacinia magna. Curabitur tempor placerat sollicitudin. Nunc quis metus non massa cursus fermentum ac eget lorem. Nam magna tortor, feugiat in leo efficitur, iaculis mattis diam. Sed ullamcorper dolor enim, quis imperdiet odio dapibus eget. Maecenas convallis lectus egestas nunc dignissim aliquet. Cras elementum ut odio eu hendrerit. Curabitur sit amet semper purus. Donec nec fermentum risus. Phasellus vehicula est nibh, faucibus mollis libero pulvinar quis. Integer sit amet vulputate nulla. Vestibulum laoreet venenatis vestibulum. Quisque dapibus lobortis ipsum at tincidunt. Donec enim risus, consectetur suscipit mauris non, ornare venenatis risus. Sed a neque tellus. Proin aliquet purus id lacinia volutpat.

Nulla et lectus lacinia, vulputate erat sit amet, feugiat velit. Aenean vitae euismod orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar enim id metus dapibus tincidunt. Quisque porttitor commodo sem. Integer velit tellus, sollicitudin auctor odio nec, convallis elementum risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Praesent molestie sagittis felis, ac lacinia nisi. Fusce et erat ac ante egestas laoreet. Praesent vulputate sit amet orci eu laoreet. Sed fermentum laoreet urna vel tristique. Duis dignissim est quis egestas vestibulum. Nunc vel lacus ipsum. Nam dolor nulla, porta convallis tortor non, maximus sodales sem. Mauris ut magna bibendum, maximus neque eu, egestas ipsum.

Maecenas sodales sit amet nulla id viverra. In hac habitasse platea dictumst. Praesent quis arcu et orci lacinia dictum. Nam dapibus, justo quis suscipit euismod, arcu ligula iaculis lacus, ut vestibulum tellus tellus a massa. Nulla facilisi. Praesent sed erat at arcu ullamcorper dignissim eleifend sed nulla. Nunc blandit orci urna, ut ultrices purus dignissim nec. Quisque sit amet elit odio. Suspendisse eu gravida est. Quisque pellentesque id dolor nec commodo. Nulla in erat mi. Cras volutpat auctor elit aliquam interdum. Suspendisse sodales dapibus pellentesque. Nam posuere facilisis ipsum blandit laoreet.

Etiam sollicitudin lorem vitae arcu dignissim scelerisque. Suspendisse commodo placerat felis sed maximus. Etiam justo lectus, varius quis ligula sed, efficitur imperdiet risus. Etiam tempus metus aliquam ipsum rhoncus, interdum condimentum augue elementum. Vivamus pharetra libero id eros tempor egestas. Proin sagittis vehicula orci, eu iaculis orci aliquam sed. Suspendisse vel nisi vulputate, semper turpis at, convallis arcu. Nulla facilisi. Vestibulum non condimentum est. Maecenas molestie commodo felis, vulputate sodales dui. Nunc id convallis nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at odio porta, imperdiet erat eu, malesuada est. Nunc tempor, risus et varius luctus, eros mi sollicitudin erat, vitae dapibus tortor augue at justo. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Donec ullamcorper, arcu non lobortis sollicitudin, eros risus gravida metus, ac eleifend magna dolor eget ligula. Phasellus ac odio vel diam facilisis ornare sed eget mauris. Ut vitae auctor urna, ut vestibulum ex. Duis nec porttitor mauris. Aliquam pretium efficitur pharetra. Donec blandit condimentum velit, at finibus nisi varius nec. Vivamus euismod massa sit amet augue maximus ultrices. Ut bibendum commodo elit, eu gravida odio porta eget. Donec vitae metus rutrum, ornare diam id, faucibus eros.</p>
                </div> -->
            </div>
        </div>
    </div>